[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/souleymaneBSU
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/souleymaneBSU
	label-Verified = -1..+1 group user/souleymaneBSU
	push = group user/souleymaneBSU
	read = group user/souleymaneBSU
	rebase = group user/souleymaneBSU
	removeReviewer = group user/souleymaneBSU
	submit = group user/souleymaneBSU
[access "refs/heads/*"]
	create = group user/souleymaneBSU
	push = +force group user/souleymaneBSU
	pushMerge = group user/souleymaneBSU
	read = group user/souleymaneBSU
[access "refs/tags/*"]
	push = group user/souleymaneBSU
	push = +force group user/souleymaneBSU
